[Config]
name = ""
title = ""
short_description = ""
description = ""
available = []
ambience = ""

prerequisite_count = 1000
prerequisite_levels = ["shaboingy"]

base = ""

[Alert]
pin = [0.0, 0.0] # Where on the station to pin
loc = [0.0, 0.0] # location of actual button
pin_orientation = 0 # 0 = left, 1 = top, 2 = right, 3 = bottom
loc_orientation = 0 # 0 = left, 1 = top, 2 = right, 3 = bottom

[Inputs]
name = 'float' # float, int, str, bool
[Outputs]
name = 'float' # float, int, str, bool

[[Tests]]
inputs = {}
outputs = {}
